<html ng-app="ionic.coolroll"><head>
    <meta charset="utf-8">
    <title>Lófos</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic.bundle.js"></script>
    <!--<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>-->

    <!-- google maps javascript -->
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&libraries=visualization"></script>

    <!-- graphics javascript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.line-min.js"></script>

    <link href="index.css" rel="stylesheet">
    <script src="index.js"></script>

  </head>
  <body ng-controller="MapCtrl">
    <ion-header-bar class="bar-dark">
      <h1 class="title hide">Lófos</h1>
      <p class="note">Touch any point on the map for a route profile.</p>
      <a href="http://make.opendata.ch/wiki/project:coolrolln" class="button button-icon icon ion-flash">makeopendata</a>
      <div id="graph"></div>
    </ion-header-bar>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <!-- <ion-footer-bar class="bar-dark"> -->
      <!-- <a ng-click="centerOnMe()" class="button button-icon icon ion-compass">Localize</a> -->
      <!-- <a ng-click="renderSlopemap()" class="button button-icon icon ion-paper-airplane">Energy gradient</a> -->
    <!-- </ion-footer-bar> -->
  </body>
</html>
